* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f4f0;
}

#page {
  width: 1120px;
  margin: 85px 127px 40px 200px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h1, h2, h3 {
  font-weight: bold;
  color: #1b1b1b;
}

.headline {
  font-size: 16px; 
  font-weight: bold;
  color: #E1624F;
}

p {
  font-size: 16px;
}

#texto-final {
  text-align: center;
}

.text-secundary {
  color:  #222121;
  font-weight: bold;
}